* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dcedff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

strong {
  font-size: 1.2em;
}

main {
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  justify-content: center;
  background-color: black;
}

.nav {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 50%;
}

.nav a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 12px 20px;
  color: #fafafa;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

.name {
  font-family: 'Shippori Mincho B1', serif;
  text-align: center;
  margin: 50px;
  font-size: 1.7em;
}

.perfil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 30px auto 0;
  flex-wrap: wrap;
}

#picture {
  padding: 5px;
  background-color: rgba(50, 50, 50, 1);
  width: 250px;
  border-radius: 5px;
}

.about-me {
  line-height: 1.7em;
  font-size: 1.1em;
  flex-basis: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 30px;
}

#about-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 50px;
}

.description {
  font-family: 'Montserrat', sans-serif;
}

#skill-container {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  padding: 0;
  align-items: center;
}

.skills-wrapper {
  font-size: 1.4em;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.hard-skills , .soft-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

#skills-title {
  margin: 100px auto 50px;
  font-size: 2.5em;
}

.skill-sub-title {
  font-size: 1.4em;
  font-weight: 700;
  margin: 10px 0 40px;
}

#projects-title {
  font-size: 2.5em;
  margin: 110px 0 40px;
  text-align: center;
}

.projects {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.projects a {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 1px rgba(50, 50, 50, 0.9);
  transition: 0.5s;
  width: 200px;
  text-align: center;
}

.projects a:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 3px black;
}

#footer {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  background-color: black;
  color: #fafafa;
  margin-top: 20px;
}

#footer a {
  text-decoration: underline;
  color: #fafafa;
  display: inline-block;
  margin: 0px 20px;
}

.links {
  display: inline-block;
  padding-top: 10px;
}
