* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2eafc;
}

strong {
  font-size: 1.2em;
}

.index {
  text-align: center;
  padding: 13px 0px;
  background-color: darkgrey;
}

.index li {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.index a {
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px 30px;
  color: black;
  font-weight: bold;
}

.index a:hover {
  text-decoration: underline;
}

/* .about-section {
  height: 100vh;
  width: 100%;
} */

.name {
  font-family: 'Shippori Mincho B1', serif;
  text-align: center;
  padding: 50px;
  font-size: 1.5em;
}

.description-pic-wrapper {
  text-align: center;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-pic {
  display: inline-block;
}

#picture {
  padding: 40px;
  background-color: darkgrey;
  width: 250px;
}

.about-me {
  display: inline-block;
  width: 450px;
  line-height: 1.7em;
  font-size: 1.1em;
  text-align: left;
  vertical-align: top;
}

#about-title {
  text-align: center;
  font-size: 2em;
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: 0;
  margin-right: 0;
}

.description {
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px;
}

.skill-list {
  text-align: center;
  margin-top: 50px;
  padding: 0;
}

.skill-list li {
  list-style: none;
  display: block;
}

.soft-skill {
  font-size: 1.2em;
  line-height: 1.3em;
}

.hard-skill {
  font-size: 1.1em;
  line-height: 1.4em;
}

#skill-list-title {
  margin: 40px;
  margin-top: 150px;
  font-size: 2em;
}

#projects-title {
  font-size: 2em;
  margin: 40px;
  margin-top: 150px;
}

.projects {
  list-style: none;
  text-align: center;
  margin-top: 50px;
}

.projects ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding: 10px 15px;
  margin: 10px 15px;
}

.projects ul li a:hover {
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.4em;
}