body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
  background-attachment: fixed;
}

p {
  display: inline-block;
}

#text-input {
  padding: 3px 5px;
  transition: 0.4s;
}

#text-input:focus {
  padding: 3px 20px;
  border-radius: 5px;
}

#meme-image-container {
  margin: 20px auto;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
}

#meme-image {
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0;
}

#meme-text {
  position: absolute;
  width: 490px;
  margin: 0;
  padding: 0;
  left: 20px;
  top: 500px;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  overflow-wrap: break-word;
}

#text-section > p {
  margin: 0;
}

#text-section {
  margin: 10px 0;
}

#meme-insert {
  display: none;
}

#image-insert {
  padding: 5px 10px;
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: white;
  border: 1px solid;
  margin: 10px 0px;
  text-shadow: 1px 1px black;
  transition: 0.4s;
}

#image-insert:hover {
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 3px 1px rgb(0,0,0);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.default {
  background-color: black;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  margin: 15px 10px;
  color: white;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
}

#memes-prontos {
  margin: 20px 0;
}

#memes-prontos img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#memes-prontos img:hover {
  cursor: pointer;
}

#footer {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(255 , 255 , 255, 0.1);
  width: 100%;
  margin: 20px auto 0 auto;
}

#footer a {
  text-decoration: underline;
  color: black;
  display: inline-block;
  margin: 0px 20px;
}
